.create-room-popover .popover-content {
    width: 700px;
    height: 500px;
    
}
.create-room-popover .button-div {
    text-align: center;

}

.create-room-popover .textAreaScanNotes {
    max-height: 350px;
}