@media (min-width: 576px) {
    .fullscreen-home {
        height: 100%;
    }

    .fullscreen-page {
        height: 100%;
    }

    .flex-page-home {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: #E9ECEF;
    }

    .first-col {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .rooms {
        flex: 1;
        height: 100%;
    }
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-page {
    width: 100%;
    flex: 1;
}

.button-div {
    text-align: center;
}

.create-room-popover .popover-content {
    width: 400px;
}

.create-room-popover .popover-room-name {
    margin-bottom: 10px;
}

.create-room-popover .create-room-error {
    text-align: center;
    color: red;
}

.list-size {
    height: 42vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.notification-list-card {
    height: 88vh;;
    overflow-x: hidden;
    overflow-y: scroll;
}

.notification-list {
    /*height: 90%;*/
}

.recent-files-title {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 575px) {
    .fullscreen-home {
        overflow-y: scroll;
    }

    .flex-page-home {
        display: flex;
        flex-direction: column;
        background-color: #E9ECEF;
    }

    .first-col {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: auto;
    }

    .rooms {
        flex: 1;
        height: auto;
    }

    .create-room-popover .popover-content {
        width: 300px;
    }
}
