.bold {
    font-weight: 500;
}

.title {
    font-size: large;
    margin-right: 7px;
}

.userName {
    font-size: smaller;
    color: #92949c;
}

.room {
    font-weight: 500;
}


.tag {
    /*margin-: 5px;*/
}

@media (max-width: 575px) {
    .notification-date {
        display: none;
    }

    .title {
        font-size: medium;
    }

    .tag {
        display: none;
    }

    .room {
        font-size: smaller;
        font-weight: 500;
    }

    .room-posted {
        font-size: smaller;
    }
}
