.bold {
    font-weight: 500;
}

.title {
    font-size: large;
    margin-right: 7px;
}

.userName {
    font-size: smaller;
    color: #92949c;
}

.room {
    font-weight: 500;
}

.tag {
    /*margin-: 5px;*/
}
